header{
    background-image: url('images/background.jpg');
}
#row1{
    background-image: url('images/background.jpg');
}
#row2{
    background-image: url('images/background.jpg');
}

.footer 
{
    background-color:#616060;
} 




